.like {
  padding: 0;
}
div.like {
  width: calc(var(--n) * 6);
  height: calc(var(--n) * 3);
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
button.like {
  background-image: url(assets/images/heart.svg);
  background-position: center;
  background-size: calc(var(--n) * 2);
  height: calc(var(--n) * 3);
  width: calc(var(--n) * 3);
  background-color: transparent;
  border: 0;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
button.like:hover {
  background-image: url(assets/images/heart-pink.svg);
}
button.like:active {
  background-image: url(assets/images/heart-rose.svg);
}
