@import "global.css";
@import "nav.css";
@import "footer.css";
@import "like.css";

body {
  margin: 0;
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Neuton", serif;
  font-size: 16px;
  color: var(--main-color);
}

a {
  color: var(--blue);
}

p em {
  font-style: italic;
}
.asset,
.player {
  max-width: 75vw;
}
header,
p,
figure,
.article-img {
  max-width: 80vw;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-family: "DM Serif Text", serif;
  font-size: 2.5em;
}

.actions {
  display: flex;
  justify-content: space-between;
  width: calc(var(--n) * 18);
}

.actions .linkedin,
.actions .twitter,
.actions .fb {
  width: calc(var(--n) * 5);
  height: calc(var(--n) * 5);
  background-repeat: no-repeat;
  background-size: calc(var(--n) * 3);
  background-position: center;
  cursor: pointer;
  background-color: var(--light-blue);
}

.actions .linkedin:hover,
.actions .twitter:hover,
.actions .fb:hover {
  background-color: var(--blue);
}

.actions .linkedin {
  mask: url(../images/linkedin.svg) no-repeat center;
  -webkit-mask: url(../images/linkedin.svg) no-repeat center;
}

.actions .twitter {
  mask: url(../images/twitter.svg) no-repeat center;
  -webkit-mask: url(../images/twitter.svg) no-repeat center;
}

.actions .fb {
  mask: url(../images/fb.svg) no-repeat center;
  -webkit-mask: url(../images/fb.svg) no-repeat center;
}

.actions .like,
.actions a {
  background-size: calc(var(--n) * 3);
  height: calc(var(--n) * 5);
  width: calc(var(--n) * 5);
}

p {
  font-size: 2em;
  word-wrap: break-word;
}

.info {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.user-info {
  padding-left: var(--n);
}

.user-info span {
  display: block;
}

.author img {
  border-radius: var(--avatar-radius);
}

.author {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
}

.author img {
  height: calc(var(--n) * 6);
}

.actions div.twitter {
  width: calc(var(--n) * 5);
  height: calc(var(--n) * 5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-o span#l {
  display: none !important;
}

.btn {
  background-color: transparent !important;
}

#count,
.btn,
.btn .label,
.btn-o,
.count-o {
  display: none !important;
}

.article-img {
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
}

@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
  .info {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .author {
    margin: 16px 0;
    width: 100vw;
    justify-content: center;
  }
}
